
form { 
  max-width:900px;
  @media screen and (min-width: 900px) {
    margin: 0px auto 40px auto;
  }
 }

.feedback-input {
  color: $secondary-color;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid $primary-color;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus {
   border:2px solid $primary-color;
   }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:$primary-color;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color: $secondary-color;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover {
   background: $primary-color;
   }

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $secondary-color;
  opacity: 1; /* Firefox */
}