* {
  box-sizing: border-box;
  margin-block: 0px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0 ;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: $background-color;
  color: $secondary-color;
}

h2{
  font-size: 32px;
  line-height: 28px;
  span{
    color:$highlight-color
  }
  margin: 50px 0px 10px 0px;
}
.nav{
  width: 100%;
  position: fixed;
  z-index: 99;
  display: flex;
  background-color: $primary-color;
  &__container {
    padding: 0 1em;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 1em auto;
    @media screen and (min-width: 700px) {
      margin: 1em 0 1em auto;
    }
  }
}
.nav-link{
  text-decoration: none;
  &:visited,&:link {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}
&:hover,&:active{
  color: $background-color;
}
}

.portrait{
  border-radius: 50%;
  aspect-ratio: 400 / 500;
  border: 5px solid $primary-color;
  width: 200px;
}
.resume{
  padding-top: 100px;
  display: flex;
  width:100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:15px;

  h3{
    color: $primary-color;
  }
  &__icons{
    display: flex;
    gap:10px;
    a{
      text-decoration: none;
      &:visited,&:link {
        text-decoration: inherit;
        color: inherit;
        cursor: pointer;
    }
    }
}
}

section{
  padding:1.5em 1em;
}
.flex__container{
  display: flex;
  flex-direction: column;
    @media screen and (min-width: 900px) {
      flex-direction: row;
      justify-content: center;
    }
}
