<section id="building">
    <h2>Partes del <span>Edificio</span></h2> 
    <div class="parts">
        <div class="outer">
          <div class="card">
            <div class="info"> 
              <h3 class="title">Fachada</h3>
              <p>La construcción de la actual fachada se inicia a comienzos del siglo xvi bajo el diseño de Juan de Badajoz. A pesar de la época de construcción se sigue utilizando el estilo gótico en vez del renacentista.</p>
            </div>
          </div>
          <div class="card"> 
            <div class="info">
              <h3 class="title">Pórtico</h3>
              <p>El diseño inicial del pórtico se proyectaba con dos torres, no obstante, finalmente se decidió por la construcción de solo una.
            </div>
          </div>
          <div class="card"> 
            <div class="info">
              <h3 class="title">Torre</h3>
              <p>Con una altura de 80 m está dividida en cinco cuerpos que van disminuyendo en tamaño según se asciende. La torre se inicia integrada al pórtico sobre los cuatro pilares que forman la arcada. Se remata con un templete formado por torres cilíndricas que finalizan en la flecha del pináculo.</p>
            </div>
          </div>
        </div>
      </div>
</section>