<section id="historia" class="history"> 
    <h2>Un poco de <span>Historia</span></h2> 
    <div class="history__container">
        <span>La Catedral de Oviedo es meta de peregrinos desde antaño. En ella se inició el Camino de Santiago en tiempos del piadoso rey Alfonso II el Casto, de ahí el dicho:
            «Quien va a Santiago y no al Salvador, visita al criado y no al Señor».
            
            Su arquitectura pretende expresar, simbólicamente, el deseo de Dios que anida en el corazón del hombre y que se manifiesta a través de un impulso hacia el infinito expresado en una volumetría con tendencia hacia lo alto.
            
            La Catedral es la imagen de la Jerusalén del cielo de la que se habla en el Apocalipsis: la ciudad celeste cuyas puertas están defendidas por torres poderosas y que desciende de junto a Dios como esposa que se engalana para su esposo.
            En la tradición cristiana el esposo siempre es Cristo y la esposa la Iglesia.</span>  
        <img class="history__container--img" src="assets/images/catedralantigua.jpg" alt="catedral">
    </div>
</section>